---
import { getAllPostsWithSlugs, getPostBySlug } from '../../lib/api';
import Header from '../../components/Header.astro';
import '../../assets/css/bootstrap.min.css';
import '../../assets/css/font-awesome.min.css';
import '../../assets/css/flaticon.css';
import '../../assets/css/payment-webfont.css';
import '../../assets/css/flexslider.css';
import '../../assets/css/slick.css';
import '../../assets/css/slick-theme.css';
import '../../assets/css/animate.css';
import '../../assets/css/style.css';
import '../../assets/css/responsive.css';
import '../../assets/css/article.css';

export async function getStaticPaths() {
  const postsWithSlugs = await getAllPostsWithSlugs();
  console.log(postsWithSlugs);

  return postsWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const post = await getPostBySlug(slug);
post.content = post.content.replace('astrowp.local', 'piscine-nice.com');
---

<html lang="en">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="UTF-8" />
    <title>{post.title}</title>
    <meta name="viewport" content="width=device-width" />
    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,800"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <div class="flex flex-col p-10">
      <div class="mb-5 text-4xl font-bold">{post.title}</div>
      <div id="single-post-page" class="single-post-section division">
        <div class="container">
          <div class="row">
            <!-- SINGLE POST -->
            <div class="col-md-12">
              <h1>{post.title}</h1>
              <article class="prose lg:prose-xl" set:html={post.content}>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
