---
import { getAllPostsListing } from '../../lib/api';
import { Picture } from '@astrojs/image/components';
import Header from '../../components/Header.astro';
import config from '../../config';
import '../../assets/css/bootstrap.min.css';
import '../../assets/css/font-awesome.min.css';
import '../../assets/css/flaticon.css';
import '../../assets/css/payment-webfont.css';
import '../../assets/css/flexslider.css';
import '../../assets/css/slick.css';
import '../../assets/css/slick-theme.css';
import '../../assets/css/animate.css';
import '../../assets/css/style.css';
import '../../assets/css/responsive.css';
import '../../assets/css/article.css';

const posts = await getAllPostsListing();
---

<meta name="robots" content="noindex" />
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<title>Articles et conseils pour la piscine</title>

<body>
  <Header />

  <div id="blog-page" class="blog-page-section division">
    <div class="container">
      <div class="row">
        <!-- BLOG POSTS HOLDER -->
        <div class="col-md-12">
          <div class="posts-holder p-right-60">
            {
              posts.edges.map(({ node }) => (
                <div class="blog-post">
                  <div class="blog-post-txt m-bottom-10">
                    <span>{new Date(node.date).toLocaleDateString('fr')}</span>

                    <a href={`https://piscine-nice.com/articles/${node.slug}`}>
                      <h2 class="h4-lg">{node.title}</h2>
                    </a>
                    <div set:html={node.excerpt} />
                  </div>

                  <hr />

                  <div class="blog-post-meta text-right">
                    <span>
                      <i class="fa fa-heart-o" aria-hidden="true" /> 15
                    </span>
                    <span>
                      <i class="fa fa-comment-o" aria-hidden="true" /> 8
                    </span>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
