---
import { getAllPostsListing } from '../../lib/api';

import { seoConfig } from '../../utils/seoConfig';

import LayoutPrimary from '../../components/LayoutPrimary.astro';

const posts = await getAllPostsListing();
---

<LayoutPrimary
  description={'Blackjack, poker, roulette, découvrez tous les trucs et astuces pour bien jouer au Casino.'}
  canonical={`${seoConfig.baseURL}/articles`}
  title="Articles et conseils pour tout comprendre au Casino"
>
  <div slot="main" id="blog-page" class="blog-page-section division">
    <div class="container">
      <div class="row">
        <!-- BLOG POSTS HOLDER -->
        <div class="col-md-12">
          <h1>Nos guides complets pour le</h1>
          <p>
            Retrouvez des articles et des guides complets écrit par une équipe
            de passionnés du Casino
          </p>
          <div class="posts-holder p-right-60">
            {
              posts &&
                posts?.edges.map(({ node }) => {
                  return node.status === 'publish' ? (
                    <div class="blog-post">
                      <div class="blog-post-txt m-bottom-10">
                        <span>
                          {new Date(node.date).toLocaleDateString('fr')}
                        </span>
                        <a href={`/articles/${node.slug}`}>
                          <h2 class="h4-lg">{node.title}</h2>
                        </a>
                      </div>
                      <hr />
                    </div>
                  ) : null;
                })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</LayoutPrimary>
