---
import { getAllPostsListing } from '../../lib/api';
import Header from '../../components/Header.astro';
import '../../assets/css/bootstrap.min.css';
import '../../assets/css/font-awesome.min.css';
import '../../assets/css/flaticon.css';
import '../../assets/css/payment-webfont.css';
import '../../assets/css/flexslider.css';
import '../../assets/css/slick.css';
import '../../assets/css/slick-theme.css';
import '../../assets/css/animate.css';
import '../../assets/css/style.css';
import '../../assets/css/responsive.css';
import '../../assets/css/article.css';

const posts = await getAllPostsListing();
---

<!-- <meta name="robots" content="noindex" /> -->
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<title>Articles et conseils pour la piscine</title>
<meta
  name="description"
  content="Piscine Nice vous présente ses meilleurs articles sur l'entretien de votre piscine. Découvrez des guides complets pour une eau toujours plus propre."
/>
<link rel="canonical" href="https://www.piscine-nice.com/articles" />

<body>
  <Header />

  <div id="blog-page" class="blog-page-section division">
    <div class="container">
      <div class="row">
        <!-- BLOG POSTS HOLDER -->
        <div class="col-md-12">
          <div class="posts-holder p-right-60">
            {
              posts.edges.map(({ node }) => {
                return node.status === 'publish' ? (
                  <div class="blog-post">
                    <div class="blog-post-txt m-bottom-10">
                      <span>
                        {new Date(node.date).toLocaleDateString('fr')}
                      </span>

                      <a href={`/articles/${node.slug}`}>
                        <h2 class="h4-lg">{node.title}</h2>
                      </a>
                      <div set:html={node.excerpt} />
                    </div>
                    <hr />
                  </div>
                ) : null;
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
