#single-post-page .container {
  max-width: 735px;
}

#single-post-page h1 {
  font-size: 3.4rem;
}

#single-post-page li {
  margin: 1rem 0 1rem;
  list-style: disc;
  margin-left: 1.5rem;
}

h1 {
}

p:has(> img) {
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--futura);
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--dark-primary);
}

.single-post-section {
  font-size: 22px;
  color: #000f3a;
  line-height: 1.55;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.4rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a {
  font-weight: bolder;
  color: #007caa;
}
a:hover {
  text-decoration: underline;
  color: #00baff;
}

b,
strong {
  font-weight: bold;
}
