---
import { getAllPagesWithSlugs, getPageBySlug } from '../lib/api';
import Header from '../components/Header.astro';
import LayoutPrimary from '../components/LayoutPrimary.astro';

export async function getStaticPaths() {
  const pagesWithSlugs = await getAllPagesWithSlugs();
  return pagesWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

// import '../assets/../assets/css/bootstrap.min.css';

// import '../assets/css/font-awesome.min.css';
// import '../assets/css/flaticon.css';
// import '../assets/css/payment-webfont.css';

// import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900';
// import 'https://fonts.googleapis.com/css?family=Poppins:300,400,600,800';

// import '../assets/css/owl.carousel.min.css';
// import '../assets/css/owl.theme.default.min.css';
// import '../assets/css/magnific-popup.css';
// import '../assets/css/flexslider.css';
// import '../assets/css/slick.css';
// import '../assets/css/slick-theme.css';
// import '../assets/css/animate.css';
// import '../assets/css/style.css';
// import '../assets/css/responsive.css';

const { slug } = Astro.params;
const page = await getPageBySlug(slug);
---

<LayoutPrimary title={page.title}>
  <Header />
  <div class="flex flex-col p-10">
    <div class="mb-5 text-4xl font-bold">{page.title}</div>
    <div id="single-post-page" class="single-post-section division">
      <div class="container">
        <div class="row">
          <!-- SINGLE POST -->
          <div class="col-md-12">
            <article class="prose lg:prose-xl" set:html={page.content}>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</LayoutPrimary>
