---
import { getAllPostsWithSlugs } from '../lib/api';

const postsWithSlugs = await getAllPostsWithSlugs();
console.log(postsWithSlugs);
---

<html lang="en">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-  const postsWithSlugs = await getAllPostsWithSlugs();
    console.log(postsWithSlugs);width"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
