---
import logo from '../assets/images/logo.webp';
import { Image } from '@astrojs/image/components';
import {seoConfig} from '../utils/seoConfig';

const { headerBackground } = Astro.props;

const finalHeaderBackground = headerBackground || "linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)"
---

<header id="header" class="header">
  <nav class="navbar">
    <div class="conteneur">
      <!-- LOGO IMAGE -->

      <a href="/" class="navbar-brand logo-black"
        ><Image alt={seoConfig.siteName} src={logo} />
      </a>
      <!-- Responsive Menu Button -->

      <!-- Navigation Menu -->
      <div id="navbarSupportedContent" class="">
        <a href="#single-post-page" class="navbar-brand"> </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/articles/guide-blackjack">Blackjack</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/poker">Poker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/casinos">Casino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/comment-jouer">Comment jouer</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/machine-a-sous
            ">Machines à sous</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/roulette
            ">Roulette</a
            >
          </li>
        </ul>
      </div>
      <!-- End Navigation Menu -->
    </div>
    <!-- End container -->
  </nav>
  <!-- End navbar  -->
</header>
<!-- END HEADER -->

<style define:vars={{finalHeaderBackground}} lang="scss" is:global>
  header {
    background: rgb(131,58,180);
    background: var(--finalHeaderBackground);
    height: 100%;
  }
  header .conteneur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  @media all and (max-width: 900px) {
    header .conteneur {
      flex-direction: column;
    }
  }
  .nav-link {
    color: #fff;
    padding-right: 0;
    padding-left: 0;
    font-size: 17px;
    font-variation-settings: 'wght' 300;
    letter-spacing: 1px;
    &:hover {
      color: #FFF;
      text-decoration: underline;
    }
  }

  .navbar-nav {
    margin-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    text-align: center;
  }
  @media all and (max-width: 900px) {
    .navbar-nav {
      width: 100%;
      display: block;
    }
    .navbar-nav li {
      display: inline-block;
    }
    .navbar-nav li a {
      padding: 7px;
    }
  }
</style>
