---
import logo from '../assets/images/logo.webp';
import { Image } from '@astrojs/image/components';
import {seoConfig} from '../utils/seoConfig';
---

<header id="header" class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- LOGO IMAGE -->

      <a href="/" class="navbar-brand logo-black"
        ><Image alt={seoConfig.siteName} src={logo} />
      </a>
      <!-- Responsive Menu Button -->

      <!-- Navigation Menu -->
      <div id="navbarSupportedContent" class="">
        <a href="#single-post-page" class="navbar-brand"> </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/articles/guide-blackjack">Blackjack</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/poker">Poker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/casinos">Casino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorie/comment-jouer">Comment jouer</a
            >
          </li>

          <!-- Dropdown Link 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                   <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>-->

          <!-- Pnone Number 
              <li class="navbar-text orange-color"><i class="fa fa-phone-square" aria-hidden="true"></i> 0123 456 789</li>-->

          <!-- Header Social Icons															
          <li class="header-socials clearfix">
            <span><a href="#" class="s-link-circle ico-color ico-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
            <span><a href="#" class="s-link-circle ico-color ico-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
            <span><a href="#" class="s-link-circle ico-color ico-behance"><i class="fa fa-behance" aria-hidden="true"></i></a></span>	
          </li> -->

          <!-- Button 
          <li><a href="#contacts-3" class="btn btn-green btn-arrow">
              <span>Contacts <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            </a>
          </li>-->
        </ul>
      </div>
      <!-- End Navigation Menu -->
    </div>
    <!-- End container -->
  </nav>
  <!-- End navbar  -->
</header>
<!-- END HEADER -->

<style lang="css" is:global>
  header {
    background-color: #ca171d;
    height: 100%;
  }
  header .container {
    display: flex;
    justify-content: space-between;
  }
  @media all and (max-width: 900px) {
    header .container {
      flex-direction: column;
    }
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-nav {
    margin-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
  }
  @media all and (max-width: 900px) {
    .navbar-nav {
      width: 100%;
      display: block;
    }
    .navbar-nav li {
      display: inline-block;
    }
    .navbar-nav li a {
      padding: 7px;
    }
  }
</style>
